[submodule "libopenage-rs/openage"]
	path = libopenage-rs/openage
	url = https://github.com/simonsan/openage
[submodule "libnyan-rs/nyan"]
	path = libnyan-rs/nyan
	url = https://github.com/simonsan/nyan
